* {
    box-sizing: border-box;
    font-size: 0px;
}
body {
    text-align: center;
}
#container {
    width: 450px;
    height: 500px;
    border-radius: 25px;
}

div {
    border: 5px solid white;
    display: inline-block;
    height: 25%;
}

#red {
    width: 60%;
    background-color: red;
    border-radius: 25px;
}

#blue {
    background-color: blue;
    width: 40%;
    border-radius: 25px;
    
}

#green {
    background-color: green;
    width: 25%;
    border-radius: 25px;
    
}

#purple {
    width: 75%;
    background-color: purple;
    border-radius: 25px;
}

#yellow {
    width: 100%;
    background-color: yellow;
    border-radius: 25px;
}

#red1 {
    width: 100%;
    background-color: red;
    border-radius: 15px;
}

#blue1 {
    background-color: blue;
    height: 50%;
    width: 60%;
    border-radius: 15px;
    float: left;
    
}

#green1 {
    background-color: green;
    width: 45%;
    border-radius: 15px;
    
}

#purple1 {
    width: 25%;
    background-color: purple;
    border-radius: 15px;
   
}

#purple2 {
    width: 25%;
    background-color: purple;
    border-radius: 15px;
}


